<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niuma.mywechatmp.mapper.HomeworkMapper">

    <resultMap id="BaseResultMap" type="com.niuma.mywechatmp.model.domain.Homework">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="className" column="className" jdbcType="VARCHAR"/>
            <result property="courseName" column="courseName" jdbcType="VARCHAR"/>
            <result property="beginTime" column="beginTime" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="endTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,className,courseName,
        beginTime,endTime
    </sql>
</mapper>
